* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #334;
  font-family: "Roboto", sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 15px;
  background: #111;
}

#displayFull {
  text-align: right;
  padding: 10px 5px 5px 5px;
  font-size: 28px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin: 2px 2px 12px 2px;
  background: #9c9;
}

#formula {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  height: 24px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 10px auto auto auto;
  font-size: 12px;
  opacity: 0.6;
}

button {
  width: 100%;
  height: 50px;
  margin: 2px;
  font-size: 20px;
  background: silver;
  border-radius: 5px;
  border: 1px solid black;
}

.operator {
  background: #59d;
  border-radius: 5px;
  border: 1px solid black;
  color: #cdc;
}

#clear {
  background: #f22;
  border-radius: 5px;
  border: 1px solid black;
  color: #cdc;
}

button:hover {
  filter: brightness(0.9);
}
